*{
    color:black;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
}
.header{
    text-align: center;
    outline: 1px black solid;
    padding: 20px;
}
.header h1 {
    font-size: 40px;
}
.main-nav{
    background-color: grey;
    padding: 5px;
    overflow: hidden;
    outline: 1px solid black;
}
.main-nav a {
    text-decoration: none;
    float:left;
    margin: 10px;
    padding:10px;
    color: white;
    outline: 1px solid black;
}
.main-nav a:hover{
    background-color: black;
}
.primary-sidebar{
    float: left;
    width: 25%;
    outline: 1px solid black;
}
.main-content{
    float:left;
    width:49%;
    outline: 1px solid black;
    text-align: center;
    padding: 5px;
}

.secondary-sidebar{
    float: left;
    width: 25%;
    outline: 1px solid black;
}
iframe{
    width: 100%;
}

    