*{
    color:black;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
    outline: 2px solid red;
}
.header{
    text-align: center;
    outline: 1px black solid;
    padding: 20px;
}
.header h1 {
    font-size: 40px;
}
.main-nav{
    background-color: grey;
    padding: 5px;
    overflow: hidden;
    outline: 1px solid black;
}
.main-nav a {
    text-decoration: none;
    float:left;
    margin: 10px;
    padding:10px;
    color: white;
    outline: 1px solid black;
}
.main-nav a:hover{
    background-color: black;
}
.left-content{
    width: 75%;
    float: left;
    outline: 1px solid black;
    
}
.right-content{
    float: left;
    width: 25%;
}
img{
    width: 100%;
    border-radius: 2%;
}
.content-imgOne{
   width: 30.00%;
   float: left;
   margin: 10px;
}

.content{
    outline: 1px solid black;
    padding: 10px;
    margin:20px;
    float: left;
    border-radius: 5px;
}
.content-links{
    background-color: white;
    outline: 1px solid black;
    float: left;
    width: 283px;
    height: 537px;
    margin-left: 20px;
    border-radius: 5px;
    /*padding: 10px;*/
    
}
.content-links ul {
    list-style-type:circle;
    
}
.content-links h1{
    color: black;
    padding-left: 15px;
}
.content-links a{
    text-decoration: none;
    color:black;
}

.inner-content{
    outline: 1px solid black;
    float: left;
    width:50%;
    height:200px;
    margin-bottom: 20px;
}
.more-info-header{
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

