*{
    color:black;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
}
.header{
    text-align: center;
    outline: 1px black solid;
    padding: 20px;
}
.header h1 {
    font-size: 40px;
}
.main-nav{
    background-color: grey;
    padding: 5px;
    overflow: hidden;
    outline: 1px solid black;
}
.main-nav a {
    text-decoration: none;
    float:left;
    margin: 10px;
    padding:10px;
    color: white;
    outline: 1px solid black;
}
.main-nav a:hover{
    background-color: black;
}
.main-content{
    width: 100%;
    outline: 2px red solid;
    float:left;
}
.left-content{
    width:100%;
    float: left;
    outline: 1px solid black;
    margin-bottom: 15px;
}

img{
    width: 100%;
    border-radius: 2%;
}
.content-imgOne{
   width: 30.00%;
   float: left;
   margin: 10px;
}

.content{
    outline: 1px solid red;
   /* padding: 10px;
    /*margin:20px*/;
    float: left;
    border-radius: 5px;
    width: 33.33%;
}
.inner-content{
    outline: 1px solid black;
    float: left;
    width:50%;
    height:200px;
    margin-bottom: 20px;
}
.more-info-header{
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}
.foot{
    text-align: center;
    margin-top: 40px;
    outline: solid 1px black;
    padding: 20px;
    clear: both;
    
}
/*About us info*/




